  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Flow Designer v0.1</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- navigation links will be here -->
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.codeofaninja.com/2014/05/bootstrap-tutorial-beginners-step-step.html" target="_blank">Tutorial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.codeofaninja.com" target="_blank">Blog</a>
            </li>
        </ul>
    </div> -->
    
  </nav>


  <!-- <div class="row">
    <div class="col-sm">
        <h1>Todo inicia con un diseño ;)</h1>
    </div>
</div> -->

<div class="table">
  <div class="row">
    <div class="col-sm-2 border border-3"> 
      <app-toolbox></app-toolbox> 
    </div> 
    <div class="col-sm-7 border border-3">
      <app-canvas></app-canvas>
    </div> 
    <div class="col-sm-2 border border-3">
      <app-prop-table></app-prop-table>
    </div>
  </div>
</div>